body {
  background: url("../img/pattern.png") #022737 repeat repeat;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat Brush", cursive;
  color: #f4b606;
}
h1 {
  display: flex;
  margin: 0 20px;
  min-width: 40px;
  font-size: 2.8em;
}
h3 {
  margin: 5px;
  color: #fce260;
  font-size: 30px;
}
p {
  font-family: "Rancho", cursive;
  color: white;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.logo {
  width: 30%;
  display: flex;
  justify-content: center;
}
.logo img {
  height: 105px;
}
#weapons,
#score {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

#weapons img,
#score img {
  height: 50px;
}
canvas {
  border-radius: 20px;
  border: 6px solid #022737;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  width: 60%;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#goToGame {
  margin-top: 5%;
  margin-bottom: 2%;
}
.contain {
  margin: 30px auto 0px auto;
  max-width: 1200px;
  display: flex;
}

/* Index section styles */
.index img {
  width: 500px;
  margin-top: 10%;
  height: auto;
}
button,
button a {
  background: url("../img/start-bg.png") center no-repeat;
  background-size: contain;
  font-size: 40px;
  border: none;
  color: white;
  text-decoration: none;
  margin-top: 5%;
  font-family: "Caveat Brush", cursive;
  font-weight: lighter;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

button:hover {
  animation: bounce 1s;
}
/* Instructions section styles */
.controls {
  width: 70%;
  text-align: center;
  margin-left: 100px;
}
.mb-lg {
  margin-bottom: 40px;
}
.mt-lg {
  margin-top: 30px;
}
.specs {
  display: flex;
  justify-content: space-around;
}
.instructions {
  text-align: center;
  margin: 20 auto;
  font-size: 30px;
}
.others {
  background-color: red;
  background-color: #044c6b59;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  width: 30%;
  letter-spacing: 1px;
}
.others p {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 0px;
}
/* Game section styles */
#restart {
  padding: 10px 40px;
  border-radius: 15px;
  border: 4px solid yellow;
  font-size: 20px;
  background: red;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.pressKey {
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.97);
}
.pressKey:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
  transition: 0.5s;
}

.keys {
  width: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.keys:hover {
  transform: scale(0.8);
  transition: 0.5s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
