body {
  background: url("/img/pattern.svg") #022737;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat Brush", cursive;
  color: #f4b606;
}
p {
  font-family: "Rancho", cursive;
  color: white;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}
header img {
  height: 80px;
}
#weapons img,
#score img {
  width: 50px;
  height: 50px;
}
canvas {
  border-radius: 20px;
  border: 6px solid #022737;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  margin-top: 0px;
  width: 60%;
}
.container {
  max-width: 1300px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* Index section styles */
.index img {
  width: 550px;
  margin-top: 10%;
  height: auto;
}
#start {
  background: url("/img/start-bg.svg") center center no-repeat;
  font-size: 3em;
  margin-top: 10%;
}

/* Instructions section styles */
.instructions {
}
#goToGame {
}

/* Game section styles */
#restart {
  padding: 10px 40px;
  border-radius: 15px;
  border: 4px solid yellow;
  font-size: 20px;
  background: red;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.instructions {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  font-size: 24px;
  letter-spacing: 1px;
}
.pressKey {
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  width: 30px;
}
